In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
raw_data_intakes_outcomes = pd.read_csv("aac_intakes_outcomes.csv")
data_intakes_outcomes = raw_data_intakes_outcomes.copy()
data_intakes_outcomes.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [3]:
len(data_intakes_outcomes)

79672

In [4]:
# Check null values in the data set

data_intakes_outcomes.isnull().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43324
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64

In [5]:
#Checking the unique values in the different columns

#data_intakes_outcomes['outcome_subtype'].unique()
data_intakes_outcomes['outcome_type'].unique()

array(['Return to Owner', 'Transfer', 'Adoption', 'Euthanasia', 'Died',
       'Rto-Adopt', 'Missing', 'Disposal', nan, 'Relocate'], dtype=object)

In [6]:
data_intakes_outcomes['outcome_subtype'] = data_intakes_outcomes['outcome_subtype'].fillna('Not Specified')
data_intakes_outcomes['outcome_subtype']

0        Not Specified
1        Not Specified
2        Not Specified
3              Partner
4        Not Specified
             ...
79667          Partner
79668      Rabies Risk
79669      Rabies Risk
79670    Not Specified
79671        Suffering
Name: outcome_subtype, Length: 79672, dtype: object

In [7]:
data_cleaned = data_intakes_outcomes.dropna()
data_cleaned.isnull().sum()

age_upon_outcome              0
animal_id_outcome             0
date_of_birth                 0
outcome_subtype               0
outcome_type                  0
sex_upon_outcome              0
age_upon_outcome_(days)       0
age_upon_outcome_(years)      0
age_upon_outcome_age_group    0
outcome_datetime              0
outcome_month                 0
outcome_year                  0
outcome_monthyear             0
outcome_weekday               0
outcome_hour                  0
outcome_number                0
dob_year                      0
dob_month                     0
dob_monthyear                 0
age_upon_intake               0
animal_id_intake              0
animal_type                   0
breed                         0
color                         0
found_location                0
intake_condition              0
intake_type                   0
sex_upon_intake               0
count                         0
age_upon_intake_(days)        0
age_upon_intake_(years)       0
age_upon_intake_age_group     0
intake_datetime               0
intake_month                  0
intake_year                   0
intake_monthyear              0
intake_weekday                0
intake_hour                   0
intake_number                 0
time_in_shelter               0
time_in_shelter_days          0
dtype: int64

In [8]:
data_cleaned['date_of_birth']

0        2007-07-09 00:00:00
1        2007-07-09 00:00:00
2        2007-07-09 00:00:00
3        2004-04-02 00:00:00
4        1997-10-16 00:00:00
                ...
79667    2018-03-14 00:00:00
79668    2016-03-29 00:00:00
79669    2017-03-29 00:00:00
79670    2017-05-01 00:00:00
79671    2008-03-29 00:00:00
Name: date_of_birth, Length: 79661, dtype: object

In [9]:
data_cleaned = data_cleaned.drop([
    'age_upon_outcome',
    'animal_id_outcome',
    'date_of_birth',
    'sex_upon_outcome',
    'age_upon_outcome_(years)',
    'age_upon_outcome_age_group',
    'outcome_datetime',
    'outcome_month',
    'outcome_year',
    'outcome_monthyear',
    'outcome_weekday',
    'outcome_hour',
    'outcome_number',
    'dob_year',
    'dob_month',
    'dob_monthyear',
    'age_upon_intake',
    'animal_id_intake',
    'count',
    'age_upon_intake_(years)',
    'age_upon_intake_age_group',
    'intake_datetime',
    'intake_month',
    'intake_year',
    'intake_monthyear',
    'intake_weekday',
    'intake_hour',
    'intake_number',
    'time_in_shelter',
    'found_location',
    'outcome_subtype',
    'age_upon_outcome_(days)'
], axis=1)

In [10]:
data_cleaned = data_cleaned.reset_index(drop=True)

In [11]:
data_cleaned['breed'].nunique()

2155

In [12]:
data_cleaned.dtypes

outcome_type               object
animal_type                object
breed                      object
color                      object
intake_condition           object
intake_type                object
sex_upon_intake            object
age_upon_intake_(days)      int64
time_in_shelter_days      float64
dtype: object

In [13]:
data_cleaned['breed']

0          Spinone Italiano Mix
1          Spinone Italiano Mix
2          Spinone Italiano Mix
3                     Dachshund
4             Shetland Sheepdog
                  ...
79656    Domestic Shorthair Mix
79657                   Bat Mix
79658                   Bat Mix
79659    Labrador Retriever Mix
79660                 Boxer Mix
Name: breed, Length: 79661, dtype: object

In [14]:
data_cleaned['breed'] = data_cleaned['breed'].str.split("/").str[0]

data_cleaned['breed'].unique()

array(['Spinone Italiano Mix', 'Dachshund', 'Shetland Sheepdog',
       'Labrador Retriever', 'Miniature Schnauzer Mix', 'Lhasa Apso Mix',
       'Shetland Sheepdog Mix', 'Domestic Longhair Mix',
       'American Shorthair Mix', 'Dachshund Mix', 'Border Collie Mix',
       'Chihuahua Shorthair', 'German Shepherd', 'Domestic Shorthair',
       'Newfoundland Mix', 'Pug', 'Staffordshire Mix',
       'Labrador Retriever Mix', 'Catahoula', 'Queensland Heeler',
       'Rottweiler', 'Domestic Shorthair Mix', 'Smooth Fox Terrier Mix',
       'Rat Terrier Mix', 'German Shepherd Mix', 'Border Collie',
       'Chihuahua Shorthair Mix', 'Pit Bull', 'Bichon Frise Mix',
       'Jack Russell Terrier Mix', 'Harrier Mix', 'Pointer Mix',
       'American Eskimo Mix', 'Doberman Pinsch Mix',
       'Parson Russell Terrier Mix', 'Pit Bull Mix', 'Siamese',
       'Australian Shepherd Mix', 'Chow Chow',
       'Australian Cattle Dog Mix', 'Miniature Schnauzer', 'Rat Terrier',
       'Siberian Husky Mix', 'Beagle Mix', 'Siamese Mix',
       'Golden Retriever Mix', 'Australian Shepherd', 'Rottweiler Mix',
       'Chow Chow Mix', 'Chinese Sharpei', 'Cocker Spaniel Mix',
       'Catahoula Mix', 'Blue Lacy Mix', 'Bernese Mountain Dog',
       'Scottish Fold Mix', 'Abyssinian Mix', 'Maine Coon Mix',
       'Greyhound', 'Great Pyrenees Mix', 'Lhasa Apso',
       'Cardigan Welsh Corgi Mix', 'Chinese Sharpei Mix',
       'Boston Terrier', 'Miniature Poodle', 'Bullmastiff Mix',
       'German Shorthair Pointer', 'Weimaraner Mix', 'American Eskimo',
       'Pekingese Mix', 'Australian Cattle Dog', 'Rhod Ridgeback',
       'Jack Russell Terrier', 'Field Spaniel Mix', 'Toy Poodle',
       'Manchester Terrier Mix', 'Pomeranian Mix', 'Siberian Husky',
       'Miniature Pinscher', 'Shih Tzu', 'Chihuahua Longhair Mix',
       'Collie Rough', 'Pekingese', 'Golden Retriever', 'Cairn Terrier',
       'American Bulldog Mix', 'Pembroke Welsh Corgi Mix',
       'Cocker Spaniel', 'Vizsla Mix', 'Queensland Heeler Mix',
       'Boxer Mix', 'Collie Smooth Mix', 'Boxer', 'Doberman Pinsch',
       'Beagle', 'Finnish Spitz Mix', 'Maltese', 'Black',
       'Basset Hound Mix', 'Shih Tzu Mix', 'Snowshoe', 'Basset Hound',
       'Chihuahua Longhair', 'Boston Terrier Mix',
       'Parson Russell Terrier', 'Snowshoe Mix', 'Black Mouth Cur Mix',
       'Domestic Longhair', 'Tibetan Terrier Mix',
       'Miniature Pinscher Mix', 'Miniature Poodle Mix', 'West Highland',
       'American Staffordshire Terrier Mix', 'Yorkshire Terrier Mix',
       'Yorkshire Terrier', 'Tibetan Terrier', 'Silky Terrier Mix',
       'Wire Hair Fox Terrier', 'Norwich Terrier Mix',
       'Flat Coat Retriever Mix', 'Australian Kelpie Mix', 'Harrier',
       'Shiba Inu', 'Vizsla', 'Dogo Argentino Mix', 'Basenji',
       'Ragdoll Mix', 'Plott Hound', 'Great Dane Mix', 'Maltese Mix',
       'Border Terrier', 'Pointer', 'American Staffordshire Terrier',
       'St. Bernard Rough Coat', 'Australian Kelpie', 'Bull Terrier Mix',
       'Akita', 'English Foxhound Mix', 'Dalmatian Mix',
       'Belgian Malinois', 'St. Bernard Rough Coat Mix',
       'Dachshund Stan Mix', 'Toy Poodle Mix', 'Scottish Terrier',
       'Podengo Pequeno Mix', 'Brittany Mix', 'Dutch Shepherd Mix',
       'Pomeranian', 'Maine Coon', 'Great Pyrenees',
       'Dachshund Longhair Mix', 'Basenji Mix', 'Pbgv', 'English Bulldog',
       'Bulldog', 'Border Terrier Mix', 'Akita Mix', 'Carolina Dog',
       'Dogo Argentino', 'Cardigan Welsh Corgi', 'Shiba Inu Mix',
       'Blue Lacy', 'Bruss Griffon Mix',
       'Wirehaired Pointing Griffon Mix', 'Alaskan Husky Mix',
       'Norfolk Terrier Mix', 'English Springer Spaniel Mix',
       'Silky Terrier', 'Rhod Ridgeback Mix', 'Domestic Medium Hair Mix',
       'German Shorthair Pointer Mix', 'American Pit Bull Terrier',
       'Staffordshire', 'Russian Blue Mix', 'American Bulldog',
       'Mastiff Mix', 'Persian Mix', 'Wire Hair Fox Terrier Mix',
       'Brittany', 'Italian Greyhound', 'English Coonhound',
       'Afghan Hound Mix', 'Bull Terrier Miniature Mix', 'Boerboel Mix',
       'Bluetick Hound', 'Bluetick Hound Mix', 'Cane Corso',
       'Chartreux Mix', 'Cairn Terrier Mix', 'Toy Fox Terrier Mix',
       'Alaskan Malamute', 'Dogue De Bordeaux',
       'Soft Coated Wheaten Terrier', 'Oriental Sh Mix',
       'Chesa Bay Retr Mix', 'English Bulldog Mix',
       'American Pit Bull Terrier Mix', 'Presa Canario Mix',
       'Plott Hound Mix', 'Anatol Shepherd', 'Airedale Terrier',
       'Black Mouth Cur', 'Redbone Hound Mix', 'Whippet',
       'Irish Wolfhound', 'Dachshund Wirehair', 'Whippet Mix',
       'Tonkinese Mix', 'Cavalier Span Mix', 'Old English Bulldog Mix',
       'Irish Terrier Mix', 'Australian Terrier Mix',
       'Dogue De Bordeaux Mix', 'Collie Rough Mix', 'Anatol Shepherd Mix',
       'Manx Mix', 'English Pointer Mix', 'Scottish Terrier Mix',
       'Havanese Mix', 'Otterhound Mix', 'Carolina Dog Mix', 'Mastiff',
       'Swedish Vallhund Mix', 'British Shorthair', 'Patterdale Terr Mix',
       'Feist Mix', 'Standard Schnauzer Mix', 'Dandie Dinmont',
       'Great Dane', 'Chinese Crested Mix', 'Keeshond Mix',
       'Belgian Tervuren', 'Beauceron Mix', 'Dalmatian',
       'American Foxhound Mix', 'Dachshund Wirehair Mix',
       'Standard Poodle', 'Collie Smooth', 'Pbgv Mix',
       'West Highland Mix', 'Treeing Walker Coonhound Mix',
       'Pembroke Welsh Corgi', 'Bullmastiff', 'Cane Corso Mix',
       'Tibetan Spaniel Mix', 'Unknown Mix', 'Papillon', 'Cavalier Span',
       'Schipperke', 'English Springer Spaniel', 'Weimaraner',
       'Greyhound Mix', 'Dachshund Longhair', 'Domestic Medium Hair',
       'Kuvasz', 'Saluki Mix', 'Himalayan Mix', 'Belgian Malinois Mix',
       'Bloodhound', 'Bulldog Mix', 'Leonberger Mix', 'Bloodhound Mix',
       'German Pinscher', 'Soft Coated Wheaten Terrier Mix', 'Pug Mix',
       'Bedlington Terr Mix', 'Alaskan Malamute Mix', 'Rabbit Sh Mix',
       'Ibizan Hound Mix', 'Bat Mix', 'Japanese Chin Mix',
       'Welsh Terrier Mix', 'Raccoon Mix', 'Skunk', 'Raccoon',
       'Opossum Mix', 'Bat', 'Ferret', 'Californian Mix',
       'English Pointer', 'Skye Terrier Mix', 'Redbone Hound',
       'English Setter Mix', 'Skunk Mix', 'Rabbit Sh', 'Newfoundland',
       'Port Water Dog Mix', 'Bengal', 'Old English Sheepdog', 'Fox Mix',
       'Balinese Mix', 'Opossum', 'Armadillo Mix', 'Squirrel Mix',
       'Pigeon Mix', 'Parakeet Mix', 'British Shorthair Mix',
       'Guinea Pig Mix', 'Pharaoh Hound Mix', 'Exotic Shorthair Mix',
       'Schipperke Mix', 'Bengal Mix', 'Eng Toy Spaniel Mix',
       'Standard Schnauzer', 'Entlebucher Mix', 'Rhode Island Mix',
       'Picardy Sheepdog', 'Bombay Mix', 'Fox', 'Standard Poodle Mix',
       'Bearded Collie Mix', 'Turtle Mix', 'Papillon Mix', 'Bichon Frise',
       'French Bulldog Mix', 'Rex Mix', 'French Bulldog', 'Guinea Pig',
       'Squirrel', 'Irish Terrier', 'Bruss Griffon', 'Landseer Mix',
       'Burmese', 'Norfolk Terrier', 'Affenpinscher Mix', 'Canaan Dog',
       'German Pinscher Mix', 'Manchester Terrier', 'English Foxhound',
       'Manx', 'Irish Wolfhound Mix', 'Coton De Tulear', 'Bearded Collie',
       'Angora Mix', 'German Wirehaired Pointer', 'Rat',
       'Japanese Bobtail Mix', 'Belgian Sheepdog Mix',
       'Bernese Mountain Dog Mix', 'Norwegian Forest Cat Mix', 'Rat Mix',
       'Treeing Walker Coonhound', 'Airedale Terrier Mix', 'Skye Terrier',
       'Bouv Flandres', 'Swiss Hound', 'Feist', 'Californian',
       'Dutch Shepherd', 'Old English Bulldog', 'Coyote Mix',
       'Italian Greyhound Mix', 'Welsh Springer Spaniel Mix',
       'St. Bernard Smooth Coat Mix', 'Norwich Terrier', 'Angora',
       'Chicken Mix', 'Bull Terrier', 'Boykin Span Mix', 'Chicken',
       'Hamster Mix', 'Nova Scotia Duck Tolling Retriever Mix',
       'St. Bernard Smooth Coat', 'English Spot Mix',
       'Flat Coat Retriever', 'Finnish Spitz', 'Lionhead Mix',
       'Canaan Dog Mix', 'Duck Mix', 'Ibizan Hound', 'Kuvasz Mix',
       'Ferret Mix', 'Lark Mix', 'Silver Mix', 'Jindo Mix', 'Boykin Span',
       'Tortoise Mix', 'Samoyed Mix', 'Sugar Glider', 'Dutch Mix',
       'English Coonhound Mix', 'Jersey Wooly Mix', 'Cockatiel Mix',
       'Cottontail Mix', 'Russian Blue', 'Swedish Vallhund', 'Duck',
       'Bantam Mix', 'Greater Swiss Mountain Dog Mix',
       'Gordon Setter Mix', 'Ragdoll', 'Lop-English Mix',
       'Glen Of Imaal Mix', 'Chinese Crested', 'Lovebird Mix',
       'Beauceron', 'Himalayan', 'Parrot Mix', 'Armadillo', 'Cold Water',
       'Persian', 'Nova Scotia Duck Tolling Retriever', 'Samoyed',
       'American Mix', 'Sphynx', 'Presa Canario', 'Lop-Holland Mix',
       'Rabbit Lh Mix', 'Lionhead', 'German Wirehaired Pointer Mix',
       'Saluki', 'Snake', 'Cymric Mix', 'Sparrow Mix', 'Catbird Mix',
       'Japanese Chin', 'Dutch', 'Grackle Mix', 'Belgian Tervuren Mix',
       'Nuthatch Mix', 'Snake Mix', 'Lizard Mix', 'Quaker Mix',
       'Dove Mix', 'Pixiebob Shorthair Mix', 'Silkie Mix', 'Cockatiel',
       'American Sable', 'Munchkin Shorthair Mix', 'Welsh Terrier',
       'Alaskan Husky', 'Patterdale Terr', 'Treeing Cur Mix',
       'Chesa Bay Retr', 'Devon Rex Mix', 'Devon Rex', 'Schnauzer Giant',
       'American Foxhound', 'Tibetan Spaniel',
       'English Cocker Spaniel Mix', 'Irish Setter',
       'New Zealand Wht Mix', 'Greater Swiss Mountain Dog',
       'Smooth Fox Terrier', 'English Shepherd Mix', 'Lop-Mini Mix',
       'Belgian Sheepdog', 'Keeshond', 'Sealyham Terr Mix', 'Finch',
       'Parakeet', 'Mouse Mix', 'Hotot Mix', 'Turkish Van Mix',
       'Turkey Mix', 'Guinea Mix', 'Conure', 'Hamster',
       'English Shepherd', 'Schnauzer Giant Mix', 'Lowchen', 'Cinnamon',
       'Spanish Mastiff Mix', 'Rabbit Lh', 'Bull Terrier Miniature',
       'American Wirehair Mix', 'Old English Sheepdog Mix', 'Jindo',
       'American Sable Mix', 'Gerbil Mix', 'Angora-French Mix', 'Dove',
       'Toy Fox Terrier', 'Bluebird Mix', 'Pharaoh Hound', 'Bunting',
       'Mockingbird', 'Sparrow', 'Glen Of Imaal', 'Mexican Hairless Mix',
       'Turkish Angora Mix', 'Pigeon', 'Tarantula', 'Turtle', 'Havanese',
       'Frog', 'Picardy Sheepdog Mix', 'Grackle',
       'Neapolitan Mastiff Mix', 'Boerboel', 'Ringtail Mix', 'Owl Mix',
       'Javanese Mix', 'Conure Mix', 'Havana Brown Mix',
       'Cornish Rex Mix', 'Parrot', 'Welsh Springer Spaniel',
       'Munchkin Longhair Mix', 'Goose Mix', 'Lizard',
       'Netherlnd Dwarf Mix', 'Mockingbird Mix', 'Leonberger',
       'Coton De Tulear Mix', 'Coyote', 'Rex-Mini', 'Budgerigar', 'Hawk',
       'Bobcat Mix', 'Ocicat Mix', 'Field Spaniel',
       'Treeing Tennesse Brindle', 'Lop-Holland', 'Lowchen Mix',
       'Norwegian Elkhound Mix', 'Checkered Giant Mix', 'Lop-Mini',
       'Wren Mix', 'Akbash Mix', 'Peafowl', 'Vulture Mix', 'Havana Mix',
       'Peafowl Mix', 'Hedgehog', 'Heron Mix', 'Quaker',
       'Chinchilla-Amer Mix', 'Hovawart', 'Cockatoo', 'Heron',
       'Cockatoo Mix', 'African Mix', 'Chinchilla-Stnd Mix', 'Polish Mix',
       'Sussex Span Mix', 'American Curl Shorthair Mix',
       'Lakeland Terrier Mix', 'Grand Basset Griffon Vendeen Mix',
       'Hawk Mix', 'Irish Setter Mix', 'Owl', 'Otter Mix', 'Landseer',
       'English Spot', 'Neapolitan Mastiff', 'Barred Rock Mix',
       'Harlequin Mix', 'Netherlnd Dwarf', 'Chinchilla Mix', 'Tortoise',
       'Angora-English Mix', 'Cinnamon Mix', 'Crow Mix', 'Muscovy Mix',
       'Rex', 'Birman Mix', 'Lop-Amer Fuzzy Mix', 'Muscovy',
       'Song Bird Mix', 'Rex-Mini Mix', 'Mexican Hairless',
       'Afghan Hound', 'Tropical Mix', 'Treeing Tennesse Brindle Mix',
       'Flemish Giant', 'Deer Mix', 'American', 'Belgian Hare',
       'Dandie Dinmont Mix', 'Pheasant Mix', 'Leghorn Mix',
       'Japanese Bobtail', 'American Curl Shorthair',
       'Britannia Petit Mix', 'Scottish Fold'], dtype=object)

In [15]:
data_cleaned['breed'].nunique()

575

In [16]:
data_cleaned['color'].nunique()

529

In [17]:
data_cleaned['color'] = data_cleaned['color'].str.split("/").str[0]

data_cleaned['color'].unique()

array(['Yellow', 'Tricolor', 'Brown', 'Black', 'White', 'Brown Tabby',
       'Tan', 'Gold', 'Sable', 'Blue Merle', 'Gray', 'Cream', 'Red',
       'Gray Tabby', 'Brown Merle', 'Tortie', 'Black Smoke',
       'Orange Tabby', 'Blue Cream', 'Lynx Point', 'Red Merle', 'Calico',
       'Blue', 'Lilac Point', 'Black Brindle', 'Chocolate', 'Blue Point',
       'Silver Tabby', 'Brown Brindle', 'Seal Point', 'Flame Point',
       'Blue Tick', 'Apricot', 'Buff', 'Chocolate Point', 'Black Tabby',
       'Silver', 'Blue Tabby', 'Cream Tabby', 'Torbie', 'Calico Point',
       'Tortie Point', 'Fawn', 'Red Tick', 'Liver', 'Black Tiger',
       'Orange', 'Blue Tiger', 'Yellow Brindle', 'Brown Tiger', 'Green',
       'Blue Smoke', 'Ruddy', 'Pink', 'Agouti', 'Liver Tick',
       'Silver Lynx Point', 'Orange Tiger'], dtype=object)

In [18]:
data_cleaned['color'].nunique()

58

In [19]:
data_cleaned.head()

,outcome_type,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),time_in_shelter_days
0,Return to Owner,Dog,Spinone Italiano Mix,Yellow,Normal,Stray,Neutered Male,3650,0.588194
1,Return to Owner,Dog,Spinone Italiano Mix,Yellow,Normal,Public Assist,Neutered Male,2555,1.259722
2,Return to Owner,Dog,Spinone Italiano Mix,Yellow,Normal,Public Assist,Neutered Male,2190,1.113889
3,Transfer,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,3650,4.970139
4,Return to Owner,Dog,Shetland Sheepdog,Brown,Injured,Public Assist,Neutered Male,5840,0.119444

Mapping Outputs

In [20]:
data_cleaned['outcome_type'].unique()

array(['Return to Owner', 'Transfer', 'Adoption', 'Euthanasia', 'Died',
       'Rto-Adopt', 'Missing', 'Disposal', 'Relocate'], dtype=object)

In [21]:
data_cleaned['outcome_type'] = data_cleaned['outcome_type'].map({'Adoption':1})

In [22]:
data_cleaned['outcome_type'] = data_cleaned['outcome_type'].fillna(0)

In [23]:
data_cleaned['outcome_type'].unique()

array([0., 1.])

In [24]:
data_cleaned.head()

,outcome_type,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),time_in_shelter_days
0,0.0,Dog,Spinone Italiano Mix,Yellow,Normal,Stray,Neutered Male,3650,0.588194
1,0.0,Dog,Spinone Italiano Mix,Yellow,Normal,Public Assist,Neutered Male,2555,1.259722
2,0.0,Dog,Spinone Italiano Mix,Yellow,Normal,Public Assist,Neutered Male,2190,1.113889
3,0.0,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,3650,4.970139
4,0.0,Dog,Shetland Sheepdog,Brown,Injured,Public Assist,Neutered Male,5840,0.119444

In [25]:
data_cleaned.dtypes

outcome_type              float64
animal_type                object
breed                      object
color                      object
intake_condition           object
intake_type                object
sex_upon_intake            object
age_upon_intake_(days)      int64
time_in_shelter_days      float64
dtype: object

In [26]:
data_cleaned['outcome_type'] = data_cleaned['outcome_type'].astype(np.int64)
data_cleaned.dtypes

outcome_type                int64
animal_type                object
breed                      object
color                      object
intake_condition           object
intake_type                object
sex_upon_intake            object
age_upon_intake_(days)      int64
time_in_shelter_days      float64
dtype: object

In [27]:
data_cleaned.describe()

       outcome_type  age_upon_intake_(days)  time_in_shelter_days
count  79661.000000            79661.000000          79661.000000
mean       0.421712              769.351100             16.758594
std        0.493836             1055.992884             41.681995
min        0.000000                0.000000              0.000000
25%        0.000000               60.000000              1.102778
50%        0.000000              365.000000              4.987500
75%        1.000000             1095.000000             13.606250
max        1.000000             9125.000000           1606.194444

Dummy variables

In [28]:
data_dummies = pd.get_dummies(data_cleaned, drop_first=False)
data_dummies.head()

,outcome_type,age_upon_intake_(days),time_in_shelter_days,animal_type_Bird,animal_type_Cat,animal_type_Dog,animal_type_Other,breed_Abyssinian Mix,breed_Affenpinscher Mix,breed_Afghan Hound,...,intake_type_Euthanasia Request,intake_type_Owner Surrender,intake_type_Public Assist,intake_type_Stray,intake_type_Wildlife,sex_upon_intake_Intact Female,sex_upon_intake_Intact Male,sex_upon_intake_Neutered Male,sex_upon_intake_Spayed Female,sex_upon_intake_Unknown
0,0,3650,0.588194,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0,2555,1.259722,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,2190,1.113889,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,0,3650,4.970139,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,0,5840,0.119444,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [29]:
data_dummies = data_dummies.reset_index(drop=True)

In [30]:
training_data = data_dummies.sample(frac=0.8, random_state=25)
testing_data = data_dummies.drop(training_data.index)

training_data = training_data.reset_index(drop=True)
testing_data = testing_data.reset_index(drop=True)

In [31]:
train_input = training_data.iloc[:,1:]
train_target = training_data.iloc[:,:1]

test_input = testing_data.iloc[:,1:]
test_target = testing_data.iloc[:,:1]

In [32]:
train_input.head()

,age_upon_intake_(days),time_in_shelter_days,animal_type_Bird,animal_type_Cat,animal_type_Dog,animal_type_Other,breed_Abyssinian Mix,breed_Affenpinscher Mix,breed_Afghan Hound,breed_Afghan Hound Mix,...,intake_type_Euthanasia Request,intake_type_Owner Surrender,intake_type_Public Assist,intake_type_Stray,intake_type_Wildlife,sex_upon_intake_Intact Female,sex_upon_intake_Intact Male,sex_upon_intake_Neutered Male,sex_upon_intake_Spayed Female,sex_upon_intake_Unknown
0,365,3.118056,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,2555,0.338194,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,730,1.081250,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,270,61.981250,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
4,300,47.123611,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [33]:
train_target.head()

   outcome_type
0             1
1             0
2             1
3             0
4             1

# Random Forest

In [34]:
clf = RandomForestClassifier()
clf.fit(train_input,train_target)

/var/folders/rx/n4ff3dy56055c46w1gqb4km40000gn/T/ipykernel_26519/2957395268.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(train_input,train_target)

RandomForestClassifier()

In [35]:
test_pred = clf.predict(test_input)
print(classification_report(test_target, test_pred))

              precision    recall  f1-score   support

           0       0.84      0.80      0.82      9351
           1       0.74      0.79      0.76      6581

    accuracy                           0.80     15932
   macro avg       0.79      0.80      0.79     15932
weighted avg       0.80      0.80      0.80     15932